

.contact__container{
    row-gap: 3rem;
}

.contact__information{
    display: flex;
    margin-bottom: var(--mb-2);
    
}

.contact__icon{
    font-size: 2rem;
    color: var(--white-color);
    margin-right: var(--mb-0-75);
}

.contact__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--white-color);
}

.contact__subtitle{
    font-size: var(--small-font-size);
    color: var(--white-color);
}

.contact__content{
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
    border: 2px solid var(--text-color-alt);
}

.contact__label{
    font-size: var(--small-font-size);
    color: var(--white-color);
    background: transparent;
    
}

.contact__input{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--text-color-alt);
    color: var(--white-color);
    
}

.button {
    display: inline-block;
    background-color: var(--text-color);
    color: var(--white-color);
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    cursor: pointer;
    border: none;
    box-shadow: 0 0 5px var(--title-color);
}

.button:hover {
    background-color: var(--text-color-alt);
    transition: .3s;
}

.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

