.about__img {
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
    box-shadow: 0 0 20px var(--title-color);
    background-repeat: no-repeat;
    animation: float 4s ease-in-out infinite;
}
.about__title {
    font-size: var(--big-font-size);
    color: var(--title-color);
}

.about__subtitle {
    font-size: var(--h3-font-size);
    color: var(--white-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.about__description {
    text-align: justify;
    margin-bottom: var(--mb-2-5);
    color: var(--white-color);
    
}

.about__info-title-bg{
    border: 1px solid var(--title-color);
    text-align: center;
    padding: 1rem 1.25rem;
    border-radius: 0.75rem;
}

.about__info {
    display: inline-flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
    
}

.about__info-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--white-color);
    
}

.about__info-name {
    font-size: var(--smaller-font-size);
}

.about__info-title,
.about__info-name {
    display: block;
    text-align: center;
}

.about__buttons {
    display: flex;
    justify-content: center;
}


@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-0px);
    }

    100% {
        transform: translateY(0px);
    }
}


@media screen and (max-width: 576px) {
    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__description {
        padding: 0;
    }

    .about__img {
        width: 450px;
        border-radius: .5rem;
        justify-self: center;
        align-self: center;
        box-shadow: 0 0 20px var(--title-color);
        background-repeat: no-repeat;
        animation: float 4s ease-in-out infinite;
    }
}

@media screen and (max-width: 350px) {
    .about__info {
        grid-template-columns: repeat(2, 1ref);
    }

    
}

