@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --header-height: 3rem;

  --title-color: #B8C2CC;
  --white-color: #fff;
  --text-color: #738491;
  --text-color-alt: #61707a;
  --body-color: #222121;
  --container-color: white;
  --input-color: #738491;
  --body-color: #222121;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--white-color);
    line-height: 1.7;
    background-image: url(../src/assets/bg-texture.png);
    margin: 0 0 var(--header-height) 0;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--white-color);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /*  */
  .section {
    padding: 2rem 0 4rem;
  }

  .section__title {
    font-size: var(--h1-font-size);
    color: var(--white-color);
    text-transform: uppercase;
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
    opacity: 0.6;
  }

.section__title,
.section__subtitle {
  text-align: center;
}

/* LAYOUT */

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

@media screen and (max-width: 968px) {
    :root {
      --big-font-size: 3rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.875rem;
      --smaller-font-size: .813rem;
    }
  }

::-webkit-scrollbar {
  width: .60rem;
  background-color: var(--body-color);
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb{
  background-color: #fff;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #aaaaaa;
}

@media screen and (max-width: 350px){
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__menu{
    padding: 2rem .25rem 4rem;
  }
  .nav__list{
    column-gap: 0;
  }

  .home__content{
    grid-template-columns: .25fr 3fr;
  }
  .home__blob{
    width: 180px;
  }

  .skills__title{
    font-size: var(--normal-font-size);
  }
}

@media screen and (min-width: 568px){
  .home__content{
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__data{
    grid-column: initial;
  }
  .home__img{
    order: 1;
    justify-self: center;
  }

  .about__container,
  .skills__container,
  .portfolio__content,
  .contact__container,
  .footer__container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  body{
    margin: 0;
  }

  .section{
    padding: 6rem 0 2rem;
  }
  .section__subtitle{
    margin-bottom: 4rem;
  }

  .header{
    top: 0;
    bottom: initial;
  }

  .header,
  .main,
  .footer__container{
    padding: 0 1rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }
  .nav__icons,
  .nav__close,
  .nav__toggle{
    display: none;
  }
  .nav__list{
    display: flex;
    column-gap: 2rem;
  }
  .nav__menu{
    margin-left: auto;
  }

  .home__container{
    row-gap: 5rem;
  }
  .home__content{
    padding-top: 5.5rem;
    column-gap: 2rem;
  }
  .home__blob{
    width: 270px;
  }
  .home__scroll{
    display: block;
  }
  .home__scroll-button{
    margin-top: -2rem;
    margin-left: 3rem;
  }

  .home__blob{
    width: 270px;
  }

  .about__container{
    column-gap: 5rem;
  }
  .about__img{
    width: 350px;
  }
  .about__description{
    text-align: initial;
  }
  .about__info{
    justify-content: space-between;
  }
  .about__buttons{
    justify-content: initial;
  }

  .portfolio__img{
    width: 320px;
  }
  .portfolio__content{
    align-items: center;
  }

  .footer__container{
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__bg{
    padding: 3rem 0 3.5rem;
  }
  .footer__links{
    flex-direction: row;
    column-gap: 2rem;
  }
  .footer__socials{
    justify-self: flex-end;
  }
  .footer__copy{
    margin-top: 4.5rem;
  }
}

@media screen and(min-width: 1024px){
  .header,
  .main,
  .footer__container{
    padding: 0;
  }

  .home__blob{
    width: 320px;
  }
  .home__social{
    transform: translateX(-6rem);
  }

  .portfolio__content{
    column-gap: 5rem;
  }
  .swiper-portfolio-icon{
    font-size: 3.5rem;
  }
  .swiper-button-prev{
    left: -3.5rem;
  }
  .swiper-button-next{
    right: -3.5rem;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: -4.5rem;
  }

  .contact__form{
    width: 460px;
  }
  .contact__inputs{
    grid-template-columns: repeat(2, 1fr);
  }
}