.footer {
    border-top: 1px solid var(--title-color);
}

.footer__container {
    padding: 2rem 0 0.1rem;
}

.footer__title,
.footer__link {
    color: var(--white-color);
}

.footer__title {
    text-align: center;
    margin-bottom: var(--mb-0-75);
}

.footer__link:hover {
    color: var(--title-color);
}

.footer__list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: var(--mb-0-75);
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer__social-link {
    color: var(--white-color);
    font-size: 1.125rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
    display: inline-flex;
}

.footer__social-link:hover {
    color: var(--title-color);
}

.footer__copy {
    display: block;
    margin-top: 2rem;
    text-align: center;
    font-size: var(--medium-font-size);
}

@media screen and (max-width: 992px) {
    .footer__social-link {
        padding: 0.25rem;
        border-radius: 0.25rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) { 
    .footer__copy {
        font-size: 1rem;
        padding-bottom: 3rem;
    }
}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 350px) {}