.home__container {
    gap: 1rem;
}

.home__content {
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.home__img img {
    background-repeat: no-repeat;
}
.home__social-icon {
    font-size: 1.25rem;
    color: var(--white-color);
    transition: .3s;
}

.home__social-icon:hover {
    color: var(--text-color)
}

.home__blob {
    width: 200px;
    fill: var(--white-color);
}



.home__data {
    grid-column: 1/3;
    /* text-align: center; */
}

.home__title {
    font-size: var(--big-font-size);
    color: var(--white-color);
}

.home__subtitle {
    font-size: var(--h3-font-size);
    color: var(--white-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description {
    margin-bottom: var(--mb-2);
    color: var(--white-color);
    text-align: justify;
}

.home__scroll {
    display: none;
    margin-top: -42px;
    animation: float 2s ease-in-out infinite;

    
}

.home__scroll-button {
    color: var(--white-color);
    transition: .3s;
}

.home__scroll-button:hover {
    transform: translateY(.25rem);
}

.home__scroll-mouse {
    font-size: 2rem;
}

.home__scroll-name {
    font-size: var(--small-font-size);
    color: var(--white-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    
}

.home__scroll-arrow {
    font-size: 1.25rem;
}

.button {
    display: inline-block;
    background-color: var(--text-color);
    color: var(--white-color);
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    
}

.button:hover {
    background-color: var(--text-color-alt);
    transition: .3s;
}

.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}
@media screen and (max-width: 578px) {

    .home__img img {
        background-repeat: no-repeat;
    }
}
  
@media screen and (max-width: 767px) {

    @keyframes headerTop {
      0% {
          transform: translateY(100px);
      }
  }
  header {
    top: initial;
    bottom: 0;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
  }
      .nav__menu {
          position: fixed;
          bottom: -100%;
          bottom: -200vh;
          left: 0;
          width: 100%;
          background-color: var(--body-color);
      }
    }
  
    .show-menu {
      bottom: 0;
  }
    .nav__toggle {
      display: block;
    }
  
  
    .nav__list {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      opacity: 0.6;
    }
  
    .show-menu {
      bottom: 0;
    }
@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

