.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    animation: headerTop 1s normal forwards;
}

.nav {
    max-width: 968px;
    height:  var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle{
    color: var(--white-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover {
    color: var(--text-color);
}

.nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover {
    color: var(--text-color);
}

@keyframes headerTop {
  0% {
      transform: translateY(-100px);
  }
}

@media screen and (max-width: 767px) {

  @keyframes headerTop {
    0% {
        transform: translateY(100px);
    }
}
header {
  top: initial;
  bottom: 0;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
  animation: headerTop 1.1s normal forwards;
}
    .nav__menu {
        position: fixed;
        bottom: -200vh;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
  }

  .show-menu {
    bottom: 0;
}
  .nav__toggle {
    display: block;
  }


  .nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--white-color);
    font-weight: var(--font-medium);
  }

  .nav__link:hover {
    color: var(--text-color);
    transition: .5s;
    opacity: 0.6;
  }

  .nav__icon {
    font-size: 1.2rem;
  }

  .nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--white-color);
  }

  .nav__close:hover {
    color: var(--text-color);
    transition: .5s;
    opacity: 0.6;
  }


  